*/build/
*__pycache__/
*Debug/
m_tree/m_tree.egg-info/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyd
*.pdb
**/.vscode/
m_tree.egg-info/
*.exp
*/binaries/
tmp/*
